@import "../common/vars";

.gallery-items {
    padding-bottom: toRem(100);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: $md) {
        padding-bottom: toRem(180);

        flex-direction: row;
        gap: toRem(32);
    }

    @media (min-width: $lg) {
        padding-bottom: toRem(200);

        gap: toRem(30);
    }
}

.gallery-items__tabs-content {
    flex: 1 1 auto;
    min-width: 0;
    width: 100%;
}

.gallery-items__select-mob {
    position: sticky;
    top: var(--header-height);
    padding: toRem(20) 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: toRem(4);
    width: 100%;

    font-size: toRem(14);
    font-family: inherit;
    color: var(--black-color);
    background-color: var(--white-color);

    &::after {
        content: "";
        flex: 0 0 auto;
        width: toRem(24);
        height: toRem(24);

        background: url("/img/icons/arrow-down-menu-black.svg") no-repeat center / contain;
    }

    @media (min-width: $md) {
        display: none;
    }
}

.gallery-items__select-mobile {
    appearance: none;
    border: none;
    background-color: transparent;
    border-radius: 0;
    margin: 0;
    opacity: 0;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &:focus {
        outline: none;
    }
}

.gallery-items__tabs {
    display: none;

    @media (min-width: $md) {
        position: sticky;
        top: calc(#{toRem(20)} + var(--header-height));

        display: flex;
        flex-direction: column;
        gap: toRem(15);
        flex: 0 0 toRem(182);

        overflow-y: auto;
        overflow-x: hidden;
        max-height: calc(100vh - #{toRem(20)} - var(--header-height));
    }

    @media (min-width: $lg) {
        flex: 0 0 toRem(262);
    }
}

.gallery-items__tabs li button {
    @include btn;

    padding-bottom: toRem(10);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: toRem(18);
    color: var(--text-grey-color);
    text-align: left;
    border-bottom: 1px solid transparent;
    transition:
        color 0.3s ease,
        border-color 0.3s ease;

    &:hover {
        color: var(--black-color);
    }

    &.has-sub {
        padding-bottom: toRem(4);

        &::after {
            content: "";
            flex: 0 0 auto;
            width: toRem(24);
            height: toRem(24);

            background: url("/img/icons/arrow-down-menu-grey.svg") no-repeat center / contain;
            transition: transform 0.3s ease;
            transform-origin: 50%;
        }

        &:hover {
            &::after {
                background-image: url("/img/icons/arrow-down-menu-black.svg");
            }
        }
    }

    &.active {
        color: var(--black-color);
        border-color: var(--accent-color);
    }
}

.gallery-items__tabs li ul {
    display: none;
    margin-bottom: toRem(15);
    padding: toRem(16);

    background-color: var(--fill-grey-color);
    border-radius: 1px;

    button {
        font-size: toRem(16);
    }
}

.gallery-items__tabs li.open {
    & > button {
        color: var(--black-color);
        &::after {
            transform: rotate(180deg);
            background-image: url("/img/icons/arrow-down-menu-black.svg");
        }
    }

    & > ul {
        display: flex;
        flex-direction: column;
        gap: toRem(15);
    }
}

.gallery-items__items {
    scroll-margin: calc(var(--header-height) + #{toRem(30)});
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: toRem(4);

    &:not(.active) {
        display: none;
    }

    @media (min-width: $md) {
        grid-template-columns: repeat(6, 1fr);
        gap: toRem(10);
    }
}

.gallery-item {
    border-radius: 1px;
    overflow: hidden;

    position: relative;
    max-height: toRem(480);

    &.is-video {
        &::after {
            content: "";
            flex: 0 0 auto;
            width: toRem(24);
            height: toRem(24);

            position: absolute;
            right: toRem(20);
            top: toRem(20);

            background: url("/img/icons/gallery-video.svg") no-repeat center / contain;
            pointer-events: nono;

            transition: opacity 0.3s ease;
        }

        &:hover::after {
            opacity: 0;
        }
    }

    &.iframe {
        & > div {
            height: 100%;
        }
    }

    @media (max-width: $md) {
        &.mob-col-1 {
            grid-column: span 2;
        }
    }

    @media (min-width: $md) {
        max-height: toRem(575);

        &.col-1-3 {
            grid-column: span 2;
        }
        &.col-2-3 {
            grid-column: span 4;
        }
        &.col-1-2 {
            grid-column: span 3;
        }

        &:hover {
            .gallery-item__overlay {
                opacity: 1;
            }
        }

        &.is-video::after {
            width: toRem(44);
            height: toRem(44);
            right: toRem(30);
            top: toRem(30);
        }
    }

    @media (min-width: $lg) {
        max-height: toRem(804);
        border-radius: 1px;
    }

    iframe,
    img,
    video {
        width: 100%;
        height: 100%;
        display: block;

        object-fit: cover;
        object-position: center;
    }
}

.gallery-item__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 2;

    color: var(--white-color);
    backdrop-filter: blur(2.5px);
    padding: toRem(9) toRem(8);

    @media (min-width: $md) {
        background: rgba(0, 0, 0, 0.5);
        padding: toRem(30);

        opacity: 0;
        transition: opacity 0.3s ease;
    }
}

.gallery-item__overlay-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(&_header) {
        display: none;
    }

    @media (min-width: $md) {
        font-size: toRem(16);

        &:not(&_header) {
            display: flex;
        }

        &:nth-child(2) {
            margin-top: toRem(15);
        }

        &:nth-child(3) {
            margin-top: toRem(4);
        }

        span {
            color: var(--text-light-grey-color);
        }
    }
}

.gallery-item__overlay-title {
    font-weight: 500;
    font-size: toRem(16);

    @media (min-width: $md) {
        font-size: toRem(32);
    }
}
