@import "../common/vars";

.team-hero {
    --padding-top: #{toRem(30)};
    overflow: hidden;
    margin-bottom: toRem(80);
    padding-top: calc(var(--header-height) + var(--padding-top));
    min-height: toRem(660);

    background: var(--fill-grey-color);

    position: relative;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    @media (min-width: $md) {
        --padding-top: #{toRem(40)};
        margin-bottom: toRem(100);
        min-height: toRem(630);

        .container {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    @media (min-width: $lg) {
        margin-bottom: toRem(150);
        min-height: toRem(697);
    }
}

.team-hero__main {
    margin-bottom: toRem(60);
    display: flex;
    flex-direction: column;
    gap: toRem(20);

    .single-team-hero__breadcrumbs {
        margin: 0;
    }

    @media (min-width: $md) {
        margin-bottom: 0;
        flex: 0 1 toRem(711);
        gap: toRem(30);
    }

    @media (min-width: $lg) {
        flex: 0 1 toRem(901);
    }
}

.team-hero__title {
    display: inline-block;
    text-transform: uppercase;

    em {
        background-color: transparent;
    }
}

.team-hero__desc {
    color: var(--text-grey-color);

    @media (min-width: $md) {
        max-width: toRem(583);

        font-size: toRem(18);
    }
}

.team-hero__numbers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    li {
        display: flex;
        flex-direction: column;
        gap: toRem(20);

        &:nth-child(2) {
            border-left: 1px solid var(--stroke-light-grey-color);
            padding-left: toRem(30);
        }
    }

    @media (min-width: $md) {
        align-self: flex-end;
        flex: 0 0 toRem(452);

        li {
            gap: toRem(30);

            &:first-child {
                padding-right: toRem(30);
            }
        }
    }

    @media (min-width: $lg) {
        flex: 0 0 toRem(542);
    }
}

.team-hero__numbers-num {
    font-size: toRem(38);
    font-weight: 500;

    span,
    em {
        color: var(--accent-color);
    }

    @media (min-width: $md) {
        font-size: toRem(80);
    }

    @media (min-width: $lg) {
        font-size: toRem(100);
    }
}

.team-hero__numbers-desc {
    color: var(--text-grey-color);

    @media (min-width: $lg) {
        font-size: toRem(18);
    }
}

.team-hero__btns {
    display: grid;
    grid-template-columns: repeat(2, toRem(165));
    grid-gap: toRem(15);

    @media (min-width: $md) {
        grid-template-columns: repeat(2, toRem(182));
    }
}
