@import "_vars";

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;

        border-radius: 50%;
        transition: background-color 0.3s ease;

        svg path {
            transition: fill 0.3s ease;
        }

        @media (hover: hover) {
            &:hover {
                background-color: var(--accent-color);

                svg path {
                    fill: var(--white-color);
                }
            }
        }

        @media (min-width: $md) {
            &:active {
                background-color: var(--accent-dark-color);

                svg path {
                    fill: var(--white-color);
                }
            }
        }
    }
}
