@import "_vars";

.portfolio-page {
    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: toRem(4) toRem(5);

        width: 100%;
    }

    &__sidebar {
        margin-bottom: toRem(24);
    }

    @media all and (min-width: $sm) {
        &__container {
            display: flex;
            align-items: flex-start;
        }

        &__sidebar {
            margin-bottom: 0;
            margin-right: toRem(16);

            flex: 0 0 auto;
            width: toRem(210);

            position: sticky;
            top: calc(var(--header-height) + #{toRem(8)});
        }

        &__main {
            flex: 1 1 auto;
        }
    }
}

.portfolio-page__btn {
    margin-top: 40px;
    display: block;
    width: 100%;
    padding: 0 15px;

    background: rgba(0, 0, 0, 0.74);

    text-transform: uppercase;
    line-height: 48px;
    font-size: 16px;
    font-weight: 500;

    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        width: 100%;
        height: 100%;
        display: block;

        transform: translateX(-101%);
        transition: transform 0.5s;

        background-color: #000;
    }

    &:hover {
        &::before {
            transform: none;
        }
    }

    &:disabled {
        opacity: 0.3;
        cursor: default;
    }

    @media all and (min-width: $sm) {
        display: none;
    }
}

.portfolio-page__filter-mobile {
    position: relative;

    select {
        appearance: none;
        background-color: transparent;
        border-radius: 0;
        border: 1px solid #000;

        padding: 0;
        padding: 0 12px;

        margin: 0;
        width: 100%;
        height: 40px;

        font-family: inherit;
        font-size: 16px;
        font-weight: 300;
        cursor: inherit;
        line-height: inherit;
        color: #000;

        &:focus {
            outline: none;
        }
    }

    &::after {
        content: "";
        display: block;
        width: 24px;
        height: 24px;

        position: absolute;
        right: 6px;
        top: 50%;

        transform: translateY(-50%);

        pointer-events: none;

        background: url("/img/svg/arrow-down.svg") no-repeat center / contain;
    }

    @media all and (min-width: $sm) {
        display: none;
    }
}

.portfolio-page__filter-desktop {
    display: none;

    @media all and (min-width: $sm) {
        display: block;
    }
}
