@import '_vars';

.inner-page.rating-page {
    padding-bottom: toRem(76);
}

.rating-page__hero {
    background: url('/img/rating-bg-mob.webp') no-repeat center /cover;
    height: toRem(575);
    padding-bottom: toRem(34);
    width: 100%;
    overflow: hidden;

    display: flex;
    align-items: flex-end;

    margin-bottom: toRem(48);

    @media all and (min-width: $sm) {
        background-image: url('/img/rating-bg.webp');
        margin-bottom: toRem(156);
        height: toRem(572);
        padding-bottom: 0;
    }
}

.rating-page__title {
    color: #fff;
    font-weight: 500;
    font-size: toRem(20);
    text-transform: uppercase;

    display: flex;
    align-items: flex-end;

    @media all and (min-width: $sm) {
        margin-bottom: toRem(-15);

        font-size: toRem(72);
        line-height: toRem(66.82);
    }

    .number {
        margin-right: toRem(5);

        font-size: toRem(64);
        line-height: toRem(54);

        @media all and (min-width: $sm) {
            margin-bottom: toRem(-39);
            margin-right: toRem(13);

            font-size: toRem(196);
            line-height: toRem(178);
        }
    }

    .title {
        max-width: toRem(262);
        width: 100%;
        flex: 0 0 auto;

        @media all and (min-width: $sm) {
            max-width: toRem(956);
        }
    }
}

.rating-page__items {
    display: grid;
    grid-gap: toRem(80);

    @media all and (min-width: $sm) {
        grid-gap: toRem(136);
    }
}

.rating-item {
    margin: 0;

    @media all and (min-width: $sm) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: toRem(16);
        align-items: center;

        &:nth-child(2n - 1) {
            .rating-item__img {
                grid-column: 1;
                grid-row: 1;
            }

            .rating-item__main {
                grid-column: 2;
                grid-row: 1;
            }
        }
    }

    &__title {
        margin-bottom: toRem(8);

        font-weight: 500;
        font-size: toRem(24);
        line-height: 1.33;

        @media all and (min-width: $sm) {
            margin-bottom: toRem(16);

            font-size: toRem(64);
            line-height: 1.25;
        }
    }

    &__img {
        margin-top: toRem(16);
        position: relative;

        img {
            display: block;
            width: 100%;
            height: auto;
        }

        @media all and (min-width: $sm) {
            margin-top: 0;
            height: auto;

            img {
                height: 100%;
                object-fit: cover;
            }
        }

        @media all and (min-width: $xl) {
            height: toRem(448);
        }
    }

    &__desc {
        font-weight: 300;
        font-size: toRem(14);
        line-height: toRem(20);

        @media all and (min-width: $sm) {
            font-size: toRem(16);
            line-height: 1.5;
        }
    }

    &__link {
        position: absolute;
        right: 0;
        bottom: 0;
        overflow: hidden;

        font-size: toRem(16);
        line-height: 1.5;
        text-transform: uppercase;
        color: #fff;

        display: flex;
        align-items: center;
        padding: toRem(10) toRem(14) toRem(14) toRem(16);

        background: rgba(0, 0, 0, 0.7);
        transition: background-color .3s ease;

        &::before {
            content: '';
            background-color: #000;

            position: absolute;
            left: 0;
            top: 0;

            width: 100%;
            height: 100%;
            display: block;

            transform: translateX(-101%);
            transition: transform .3s ease;
        }

        &::after {
            content: "";
            background: url("/img/svg/arrow-sp-item.svg") no-repeat center / cover;

            width: toRem(50);
            height: toRem(8);
            margin-left: toRem(13);

            position: relative;
        }

        span {
            position: relative;
        }

        &:hover {
            &::before {
                transform: none;
            }
        }

        @media all and (min-width: $xl) {
            padding: toRem(10) toRem(53) toRem(14);
        }
    }
}