@import "../common/_vars";

ul.hero-block__breadcrumbs {
    margin-bottom: auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;

    font-size: 16px;
    color: var(--text-light-grey-color);

    a {
        color: inherit;
    }

    li {
        display: flex;
        align-items: center;
        gap: 4px;

        &:not(:last-child) {
            &::after {
                content: "";
                background-image: url("/img/icons/arrow-right-breadcrumbs.svg");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;

                width: 24px;
                height: 24px;
                flex: 0 0 auto;
            }
        }
    }

    @media (min-width: $md) {
        margin-bottom: 40px;
    }

    @media (min-width: $lg) {
        margin-bottom: 70px;
    }
}
