@import "../common/_vars";

.client-context {
    margin: toRem(100) 0;

    .container {
        display: flex;
        flex-direction: column;
        gap: toRem(40);
    }

    @media (min-width: $md) {
        margin: toRem(180) 0;

        .container {
            flex-direction: row-reverse;
            gap: toRem(30);
        }
    }

    @media (min-width: $lg) {
        margin: toRem(200) 0;
    }
}

.client-context__info {
    h2 {
        margin-bottom: toRem(20);
    }

    .p1 {
        color: var(--text-grey-color);
    }

    p + p {
        margin-top: 1em;
    }

    @media (min-width: $md) {
        flex: 0 0 calc(50% - #{toRem(15)});

        h2 {
            margin-bottom: toRem(40);
        }
    }

    @media (min-width: $lg) {
        h2 {
            margin-bottom: toRem(60);
        }
    }
}

.client-context__images {
    display: flex;
    flex-direction: column;
    gap: toRem(20);

    img {
        display: block;
        width: 100%;
        height: toRem(425);

        object-fit: cover;
        object-position: center;

        border-radius: 1px;
    }

    @media (min-width: $md) {
        flex: 1 1 auto;
        flex-direction: row;
        align-items: flex-start;
        gap: toRem(30);

        img {
            height: 100%;
            width: 100%;
            border-radius: 0;
            transition: transform 0.3s ease-in;
        }

        & > picture {
            border-radius: 1px;
            overflow: hidden;
            height: toRem(355);
            width: toRem(288);

            &:first-child {
                margin-top: toRem(80);
            }

            &:hover {
                img {
                    transform: scale(1.12);
                }
            }
        }
    }

    @media (min-width: $lg) {
        & > picture {
            height: toRem(501);
            width: toRem(407);

            &:first-child {
                margin-top: toRem(90);
            }
        }
    }
}
