@import "../common/_vars";

.completeness-visual-embody {
    margin: 100px 0;

    @media (min-width: $md) {
        margin: 180px 0;
    }

    @media (min-width: $lg) {
        margin: 200px 0;
    }
}

.completeness-visual-embody__info {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    & > p {
        color: var(--text-grey-color);
        font-size: 16px;
    }

    @media (min-width: $md) {
        gap: 0;

        h2 {
            max-width: 605px;
        }

        & > p {
            align-self: flex-end;
            max-width: 500px;
            margin-right: 106px;

            font-size: 16px;
        }
    }

    @media (min-width: $lg) {
        margin-bottom: 60px;

        h2 {
            max-width: 845px;
        }

        & > p {
            max-width: 694px;
            margin-right: 150px;
            font-size: 18px;
        }
    }
}

.completeness-visual-embody__items {
    display: grid;
    gap: 30px;

    @media (min-width: $md) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.completeness-visual-embody-item__more-btn {
    margin-top: 8px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: left;

    letter-spacing: -0.02em;
    text-decoration: none;

    color: var(--white-color);
    border-bottom: 1px solid currentColor;
    cursor: pointer;
    transition:
        border-color 0.3s ease,
        color 0.3s ease;

    &.hidden {
        display: none;
    }

    @media (min-width: $md) {
        display: none;
    }
}


.completeness-visual-embody-item {
    border-radius: 1px;
    background-color: var(--fill-grey-color);
    overflow: hidden;

    &.expanded {
        .completeness-visual-embody-item__text {
            display: block;
            -webkit-line-clamp: unset;
            line-clamp: unset;
            overflow: initial;
        }
    }

    @media (min-width: $md) {
        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }
}

.completeness-visual-embody-item__media {
    height: 450px;
    overflow: hidden;
    object-fit: cover;

    @media (min-width: $md) {
        height: 350px;
    }

    @media (min-width: $lg) {
        height: 420px;
    }

    img,
    video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    img {
        transition: transform 0.5s ease;
    }
}

.completeness-visual-embody-item__info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h3 {
        font-weight: 500;
        font-size: 18px;
        text-transform: capitalize;
    }

    @media (min-width: $md) {
        h3 {
            font-size: 24px;
        }
    }

    @media (min-width: $lg) {
        h3 {
            font-size: 32px;
        }
    }
}

.completeness-visual-embody-item__text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    font-size: 14px;
    color: var(--text-grey-color);

    @media (min-width: $md) {
        display: block;
        -webkit-line-clamp: unset;
        line-clamp: unset;
        overflow: initial;
    }

    @media (min-width: $lg) {
        font-size: 16px;
    }
}

.completeness-visual-embody-item__more-btn {
    margin-top: 10px;

    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    text-align: left;

    letter-spacing: -0.02em;
    text-decoration: none;

    color: var(--accent-color);
    border-bottom: 1px solid currentColor;
    cursor: pointer;
    transition: border-color 0.3s ease;

    &.hidden {
        display: none;
    }

    @media (min-width: $md) {
        display: none;
    }
}
