@import "../common/_vars";

.cta-form-section {
    --size: #{32px};

    margin: 100px 0;
    padding: 60px 20px;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 60px;

    border-radius: 1px;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;

        pointer-events: none;

        background:
            url("/img/icons/plus-grey.svg") no-repeat 0 0 / var(--size),
            url("/img/icons/plus-grey.svg") no-repeat 100% 0 / var(--size),
            url("/img/icons/plus-grey.svg") no-repeat 0 100% / var(--size),
            url("/img/icons/plus-grey.svg") no-repeat 100% 100% / var(--size);
    }

    @media (min-width: $md) {
        --size: #{44px};

        margin: 180px 0;
        padding: 47px;
        padding-left: 80px;

        flex-direction: row;
        gap: 55px;

        border-radius: 1px;
    }

    @media (min-width: $lg) {
        margin: 200px 0;
        padding: 80px;

        gap: 180px;

        border-radius: 1px;
    }
}

.cta-form-section__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.cta-form-section__info {
    color: var(--white-color);

    display: flex;
    flex-direction: column;
    gap: 30px;

    h2 {
        font-size: 22px;
        font-weight: 400;

        @media (min-width: $md) {
            font-size: 42px;
            max-width: 500px;
        }

        @media (min-width: $lg) {
            font-size: 58px;
            max-width: 623px;
        }
    }
}

.cta-form-section__desc {
    font-size: 14px;

    @media (min-width: $md) {
        font-size: 16px;
        max-width: 500px;
    }

    @media (min-width: $lg) {
        max-width: 623px;
    }

    ul {
        margin-left: 20px;
        list-style-type: disc;
    }

    b,
    strong {
        font-weight: 600;
    }
}

.cta-form-section__clients {
    display: grid;
    grid-template-columns: repeat(3, 97px);
    gap: 7px;

    @media (min-width: $md) {
        margin-top: auto;
        grid-template-columns: repeat(4, 130px);
        gap: 10px;
    }

    @media (min-width: $lg) {
        grid-template-columns: repeat(4, 190px);
        gap: 19.5px;
    }
}

.cta-form-section__client {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 59px;
    width: 100%;

    border: 0.5px solid var(--stroke-light-grey-color);

    @media (min-width: $md) {
        height: 80px;
    }

    @media (min-width: $lg) {
        height: 117px;
    }

    &:last-child {
        display: none;

        @media (min-width: $md) {
            display: flex;
        }
    }

    img {
        max-width: 65px;
        max-height: 45px;
        object-fit: contain;

        @media (min-width: $md) {
            max-width: 86px;
            max-height: 39px;
        }

        @media (min-width: $lg) {
            max-width: 126px;
            max-height: 56px;
        }
    }
}

.cta-form-section__form {
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: var(--white-color);
    border-radius: 1px;

    @media (min-width: $md) {
        padding: 30px;

        width: 500px;
        flex: 0 0 auto;

        gap: 30px;

        border-radius: 1px;
    }

    @media (min-width: $lg) {
        width: 562px;
    }

    &.is-success {
        form {
            display: none;
        }

        .cta-form__privacy {
            display: none;
        }

        .cta-form__success {
            display: block;
        }
    }
}

.cta-form-section__form-title {
    font-size: 16px;
    font-weight: 500;
    text-align: center;

    @media (min-width: $md) {
        font-size: 24px;
    }

    @media (min-width: $lg) {
        font-size: 32px;
    }
}

.cta-form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    button {
        margin-top: 12px;
    }


    @media (min-width: $md) {
        gap: 15px;

        button {
            margin-top: 15px;
            height: 61px;
        }
    }
}

.cta-form__input {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &.error {
        .cta-form__error {
            display: block;
        }

        .cta-form__label {
            color: var(--error-red-color);
        }

        input {
            color: var(--error-red-color);
            border-color: var(--error-red-color);

            &::placeholder {
                color: var(--error-red-color);
            }
        }
    }

    input,
    textarea {
        width: 100%;
        height: 44px;
        padding: 0 16px;

        background-color: var(--white-color);
        border: 1px solid var(--stroke-light-grey-color);
        border-radius: 1px;
        transition:
            border-color 0.3s ease,
            color 0.3s ease;

        color: var(--black-color);
        font-family: inherit;
        font-size: 12px;
        line-height: 1.4;

        &::placeholder {
            color: var(--text-grey-color);
        }

        &:hover,
        &:focus {
            border-color: var(--accent-color);
        }

        &:focus {
            outline: none;
        }

        @media (min-width: $md) {
            height: auto;
            padding: 16px;

            font-size: 16px;
        }
    }

    textarea {
        padding-top: 13.5px;
        resize: vertical;


        @media (min-width: $md) {
            padding-top: 16px;
        }
    }
}

.cta-form__error {
    display: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--error-red-color);
}

.cta-form__success {
    display: none;

    font-size: 14px;
    text-align: center;
    color: var(--text-grey-color);

    b {
        font-weight: 500;
        display: block;
    }

    a {
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid var(--black-color);
        transition: border-color 0.3s ease;

        &:hover {
            border-color: transparent;
        }
    }

    @media (min-width: $md) {
        font-size: 16px;
    }
}

.cta-form__privacy {
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    color: var(--text-grey-color);

    a {
        color: var(--accent-color);
        text-decoration: underline;
    }

    @media (min-width: $md) {
        font-size: 14px;
        max-width: 350px;
        margin: 0 auto;
    }
}
