@use "../common/vars" as *;

.cta {
    background: var(--accent-color) url("/img/icons/cta-lines.svg") no-repeat -333px -48px;
    color: var(--white-color);

    text-align: center;

    --margin: #{100px};
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    margin-left: calc(-1 * var(--padding));
    width: calc(100% + var(--padding) * 2);

    padding: 120px 15px;

    h2 {
        font-size: 28px;
    }

    @media (min-width: $md) {
        --margin: #{180px};
        padding: 108px 0;
        margin-left: 0;
        width: 100%;

        border-radius: 1px;
        background-position: center -48px;

        h2 {
            font-size: 50px;
        }

        p {
            max-width: 496px;
            margin: 0 auto;
        }
    }

    @media (min-width: $lg) {
        padding: 188.5px 0;

        background-position: center 0;

        h2 {
            font-size: 60px;
        }

        p {
            max-width: 600px;
        }
    }
}

.cta__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    max-width: 800px;
    margin: 0 auto;

    @media (min-width: $lg) {
        max-width: 1000px;
    }
}
