@use "../common/vars" as *;

.design-services {
    margin: 100px 0 110px;

    @media (min-width: $md) {
        margin-bottom: 180px;
    }

    @media (min-width: $lg) {
        margin: 150px 0 200px;
    }
}

.design-services__info {
    margin: 0 auto 40px;
    max-width: 700px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    text-align: center;

    & > p {
        color: var(--text-grey-color);
    }

    @media (min-width: $md) {
        margin-bottom: 50.5px;

        & > p {
            max-width: 600px;
            margin: 0 auto;
        }
    }

    @media (min-width: $lg) {
        margin-bottom: 60px;
        max-width: 944px;
    }
}

.design-services__items {
    display: flex;
    flex-direction: column;
    gap: 20px;

    counter-reset: design-services-items;

    @media (min-width: $md) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.design-services-item {
    min-height: 280px;
    padding: 20px;
    border-radius: 1px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:not(:nth-child(2)):not(:nth-child(4)) {
        background-color: var(--fill-grey-color);
    }

    &:nth-child(2),
    &:nth-child(4) {
        border: 1px solid var(--stroke-light-grey-color);
        --size: #{20px};
        --btn-color: var(--fill-grey-color);

        &::after {
            content: "";
            position: absolute;
            left: calc(-1 * var(--size) / 2);
            top: calc(-1 * var(--size) / 2);
            width: calc(100% + var(--size));
            height: calc(100% + var(--size));
            display: block;

            pointer-events: none;

            background:
                url("/img/icons/plus-accent.svg") no-repeat 0 0 / var(--size),
                url("/img/icons/plus-accent.svg") no-repeat 100% 0 / var(--size),
                url("/img/icons/plus-accent.svg") no-repeat 0 100% / var(--size),
                url("/img/icons/plus-accent.svg") no-repeat 100% 100% / var(--size);
        }
    }

    &::before {
        counter-increment: design-services-items;
        content: "0" counter(design-services-items);

        display: block;
        margin-bottom: 50px;

        font-size: 70px;
        line-height: 1.2;
        color: var(--text-light-grey-color);
    }

    img {
        display: none;
    }

    &.expanded {
        &::before {
            opacity: 0;
            visibility: hidden;
            height: 0;
            width: 0;
        }

        &.extended .design-services-item__text {
            -webkit-line-clamp: unset;
            line-clamp: unset;
            overflow: initial;
            padding-right: 0;
        }
    }

    @media (min-width: $md) {
        flex: 0 0 auto;
        min-height: 311px;
        min-width: 287px;

        &:nth-child(1),
        &:nth-child(5) {
            width: 499px;
        }

        &:nth-child(2),
        &:nth-child(6) {
            width: 287px;
        }

        &:nth-child(3),
        &:nth-child(4) {
            width: 394px;
        }

        &:nth-child(2),
        &:nth-child(4) {
            --size: #{21px};
        }

        &:nth-child(7) {
            width: 711px;
        }

        &:nth-child(8) {
            width: 499px;
        }

        &:last-child {
            flex: 1 1 auto;
        }

        &.extended {
            height: 400px;

            &::before {
                margin-bottom: 0;
            }

            &:nth-child(1),
            &:nth-child(5) {
                width: var(--desktop-width, 499px);
            }

            &:nth-child(2),
            &:nth-child(6) {
                width: var(--desktop-width, 287px);
            }

            &:nth-child(3),
            &:nth-child(4) {
                width: var(--desktop-width, 394px);
            }

            &:nth-child(7) {
                width: var(--desktop-width, 711px);
            }

            &:nth-child(8) {
                width: var(--desktop-width, 499px);
            }
        }

        &::before {
            font-size: 80px;
            line-height: 1;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;

            display: block;
            width: 100%;
            height: 100%;

            opacity: 0;
            transition: opacity 0.3s ease;

            object-fit: cover;
        }

        &:hover {
            img {
                opacity: 1;
            }

            .design-services-item__more-btn {
                color: var(--purple-color);
            }

            .design-services-item__info {
                &::before {
                    opacity: 1;
                }
            }

            &.extended,
            &:not(:nth-child(2)):not(:nth-child(5)) {
                .design-services-item__info {
                    &,
                    .design-services-item__text {
                        color: var(--white-color);
                    }
                }
            }

            &:not(.extended):nth-child(2),
            &:not(.extended):nth-child(5) {
                .design-services-item__info {
                    .design-services-item__text {
                        color: var(--black-color);
                    }
                }

                .design-services-item__info {
                    &::before {
                        opacity: 0;
                    }
                }
            }
        }
    }

    @media (min-width: $lg) {
        min-height: 436px;
        min-width: 408px;
        padding: 30px 20px;

        &:nth-child(1),
        &:nth-child(5) {
            width: 700px;
        }

        &:nth-child(2),
        &:nth-child(6) {
            width: 408px;
        }

        &:nth-child(3),
        &:nth-child(4) {
            width: 552px;
        }

        &:nth-child(7) {
            width: 990px;
        }

        &:nth-child(8) {
            width: 700px;
        }

        &.extended {
            height: 436px;

            &:nth-child(1),
            &:nth-child(5) {
                width: var(--desktop-width, 700px);
            }

            &:nth-child(2),
            &:nth-child(6) {
                width: var(--desktop-width, 408px);
            }

            &:nth-child(3),
            &:nth-child(4) {
                width: var(--desktop-width, 552px);
            }

            &:nth-child(7) {
                width: var(--desktop-width, 990px);
            }

            &:nth-child(8) {
                width: var(--desktop-width, 700px);
            }
        }

        &::before {
            font-size: 100px;
        }
    }
}

.design-services-item__btn {
    @include btn;

    margin-top: 30px;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: 14px;
    font-weight: 500;
    color: var(--accent-color);

    background: var(--btn-color, var(--white-color));
    border-radius: 1px;
    cursor: pointer;

    transition:
        color 0.3s ease,
        background-color 0.3s ease;

    &:disabled {
        color: var(--stroke-light-grey-color);

        .design-services-item__btn-icon {
            background-color: var(--stroke-light-grey-color);
        }
    }

    @media (min-width: $md) {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 2;

        margin-top: 0;
        width: auto;

        &:hover:not(:disabled) {
            background-color: var(--accent-color);
            color: var(--white-color);
        }

        &:active:not(:disabled) {
            background-color: var(--accent-hover-color);
            color: var(--white-color);

            .design-services-item__btn-icon {
                background-color: var(--accent-hover-color);
            }
        }
    }

    @media (min-width: $lg) {
        right: 30px;
        top: 30px;
    }

    &-icon {
        flex: 0 0 auto;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;

        background: var(--accent-color);
        border-radius: 1px;
        transition: background-color 0.3s ease;

        svg {
            width: 18px;
            height: 18px;
        }
    }

    &-title {
        padding-left: 8px;
        padding-right: 10px;
    }
}

.design-services-item__info {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h3 {
        position: relative;
        z-index: 2;
    }

    @media (min-width: $md) {
        max-width: 100%;
        h3 {
            font-size: 24px;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;

            display: block;
            height: 238px;

            background: linear-gradient(360deg, var(--black-color) 12.98%, rgba(0, 0, 0, 0) 100%);
            opacity: 0;
            transition: opacity 0.3s ease;
        }
    }

    @media (min-width: $lg) {
        h3 {
            font-size: 32px;
        }
    }
}

.design-services-item__text {
    position: relative;
    z-index: 2;

    color: var(--text-grey-color);

    @media (min-width: $md) {
        min-height: 67px;
    }

    @media (min-width: $lg) {
        min-height: 76px;
    }
}

.design-services-item.extended {
    .design-services-item__text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: 0;
    }
}

.design-services-item__more-btn {
    position: relative;
    z-index: 3;
    align-self: flex-start;
    display: inline-block;
    margin-top: 8px;

    background: none;
    border: none;
    border-bottom: 1px solid currentColor;
    color: var(--accent-color);
    cursor: pointer;
    transition:
        border-color 0.3s ease,
        color 0.3s ease;

    font-size: 14px;
    font-weight: 400;
    text-align: left;

    &:hover {
        border-color: transparent;
    }

    &.hidden {
        display: none;
    }

    @media (min-width: $md) {
        font-size: 16px;
    }
}