@import "../common/_vars";

.hero-block {
    padding: calc(var(--header-height) + #{30px}) 0 30px;
    height: 667px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background: var(--black-color);
    color: var(--white-color);

    position: relative;
    overflow: hidden;

    &::after,
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: var(--z-index-shadow);

        width: 100%;
    }

    &::before {
        top: 0;

        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5),
            transparent 30%
        );
    }

    &::after {
        height: 490px;

        background: linear-gradient(
            0,
            var(--black-color) 39.51%,
            rgba(0, 0, 0, 0) 100%
        );
    }

    .container {
        height: 100%;
    }

    @media (min-width: $sm) {
        padding: 110px 0 75px;
        height: 700px;

        &::before {
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.5),
                transparent 30%
            );
        }

        &::after {
            right: auto;
            top: 0;
            bottom: 0;

            height: 100%;
            width: 911px;

            background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 0.5) 28.39%,
                rgba(0, 0, 0, 0.329932) 55.19%,
                rgba(0, 0, 0, 0) 100%
            );
        }

        .container {
            height: 100%;
        }
    }

    @media (min-width: $lg) {
        padding: 140px 0 100px;
        min-height: 900px;

        &::after {
            width: 1040px;
        }
    }
}

.hero-block__media {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 0;
    height: 100%;

    picture {
        width: 100%;
        height: 100%;
        display: block;
    }

    img,
    video {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;

        @media (min-width: $md) {
            object-position: right;
        }
    }

    video {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        z-index: 2;
    }
}

.hero-block__main {
    position: relative;
    z-index: var(--z-index-main);

    height: 100%;
    max-width: 818px;

    display: flex;
    flex-direction: column;

    @media (min-width: $lg) {
        max-width: 990px;
    }
}

@import url("breadcrumbs.scss");

.hero-block__title {
    margin-bottom: 20px;

    em {
        background: var(--accent-color);
        font-style: normal;
        color: var(--white-color);
    }

    @media (min-width: $md) {
        margin-bottom: 30px;
    }
}

.hero-block__desc {
    margin-bottom: 20px;

    @media (min-width: $md) {
        max-width: 496px;
    }

    @media (min-width: $lg) {
        max-width: 583px;

        font-size: 18px;
    }
}

.hero-block__cta.btn-main {
    margin-bottom: 40px;

    @media (min-width: $sm) {
        display: none;
    }
}

ul.hero-block__items {
    margin-top: auto;
    max-width: 531px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    li {
        flex: 1 1 auto;
        padding: 10px 15px;
        border: 1px solid var(--stroke-light-grey-color);
        border-radius: 1px;
        color: var(--text-light-grey-color);

        font-size: 12px;
        font-weight: 500;
        text-transform: capitalize;
        text-align: center;
    }

    @media (min-width: $lg) {
        max-width: 708px;
        gap: 8px;

        li {
            font-size: 16px;
        }
    }
}
