@import "../common/_vars";

.template-blog,
.single-blog {
    .hero-block__breadcrumbs {
        @media (max-width: 1269px) {
            margin-bottom: 30px;
        }
    }

}

.template-blog {
    .hero-blog {
        margin-bottom: 175px;

        @media (min-width: $md) {
            margin-bottom: 105px;
        }

        @media (min-width: $lg) {
            margin-bottom: 150px;
        }

        &__grid {
            @media (min-width: $md) {
                grid-template-columns: 40.6% 1fr 1fr;
                gap: 30px;
            }
        }
        &__title {
            margin: 0;
            font-size: 28px;
            line-height: 1.2;
            text-transform: uppercase;
            font-weight: 400;

            @media (min-width: $md) {
                font-size: 48px;
                max-width: 920px;
            }

            @media (min-width: $lg) {
                font-size: 64px;
                max-width: 1280px;
            }
        }
        &__text {
            margin: 20px 0 60px;
            max-width: 610px;
            letter-spacing: 0;
            color: var(--text-grey-color);

            @media (min-width: $lg) {
                font-size: 18px;
            }
        }

        .case-item {
            .case-item__img {
                height: 190px;

                @media (min-width: $lg) {
                    height: 265px;
                }
            }

            &:not(.--featured) {
                @media (min-width: $md) {
                    max-height: 500px;
                }
                @media (min-width: $lg) {
                    max-height: 730px;
                }
            }

            &.--featured {
                .case-item__img {
                    @media (min-width: $md) {
                        max-height: 275px;
                    }

                    @media (min-width: $lg) {
                        max-height: 385px;
                    }
                }

                .case-item__title {
                    font-size: 28px;
                    font-weight: 400;

                    @media (min-width: $md) {
                        font-size: 42px;
                    }

                    @media (min-width: $lg) {
                        font-size: 58px;
                    }
                }

                .author__avatar {
                    @media (min-width: $lg) {
                        width: 64px;
                        height: 64px;
                    }
                }
                .author__name {
                    font-size: 18px;

                    @media (min-width: $lg) {
                        font-size: 24px;
                    }
                }
                .author__text {
                    font-size: inherit;

                    @media (min-width: $lg) {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.single-blog {
    .hero-block {
        .hero-block__main {
            @media (min-width: $md) {
                max-width: 40%;
            }

            @media (min-width: $lg) {
                max-width: 50%;
            }
        }

        .metabox {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 4px;

            margin-bottom: 20px;

            @media (min-width: $md) {
                gap: 20px;
            }

            @media (min-width: $lg) {
                margin-bottom: 30px;
            }

            &__item {
                @media (max-width: 1269px) {
                    padding: 4px 10px;
                    color: var(--text-grey-color);
                    background-color: var(--fill-grey-color);
                }

                &--link {
                    color: var(--accent-color);
                    text-decoration: underline;

                    @media (min-width: $md) {
                        color: var(--purple-color);
                    }
                }
            }

            .dot {
                @media (max-width: 1269px) {
                    display: none;
                }
            }
        }

        .share {
            a {
                @media (min-width: $lg) {
                    padding: 18px;
                }
            }
        }
    }

    @media (max-width: 1269px) {
        .hero-block {
            flex-direction: column-reverse;
            gap: 40px;

            height: auto;
            padding-bottom: 0;
            background-color: var(--white-color);

            &::before,
            &::after {
                content: none;
            }
        }

        .hero-block__media {
            position: relative;
            height: 400px;
        }

        .hero-block__main {
            margin: 0 auto;
        }

        .hero-block__breadcrumbs {
            order: 1;
        }

        .hero-block__title {
            order: 2;
        }

        .metabox {
            order: 3;
        }

        .share {
            order: 4;
        }
    }
}
