@import "../common/_vars";

.key-visuals {
    margin: 100px 0;
    padding: 40px 0;

    background: var(--fill-grey-color);

    @media (min-width: $md) {
        margin: 180px 0;
        padding: 100px 0;
    }

    @media (min-width: $lg) {
        margin: 200px 0;
    }
}

.key-visuals__info {
    margin-bottom: 40px;
}

.key-visuals__rows {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width: $md) {
        gap: 30px;
    }
}

.key-visuals__row {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &:nth-child(2n - 1) {
        .key-visuals__row-header {
            flex-direction: row-reverse;
        }
    }
}

.key-visuals__row-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        font-size: 14px;
        color: var(--text-grey-color);
    }

    h3 {
        font-size: 16px;
        font-weight: 500;
    }

    @media (min-width: $md) {
        h3 {
            font-size: 24px;
        }
    }

    @media (min-width: $lg) {
        span {
            font-size: 16px;
        }

        h3 {
            font-size: 32px;
        }
    }
}

.key-visuals__items {
    display: flex;
    gap: 15px;

    &:not(.has-featured) {
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        width: calc(100% + var(--padding));
        padding-right: 15px;
    }

    &.has-featured {
        flex-direction: column;
        gap: 30px;
    }

    @media (min-width: $md) {
        padding-right: 0;

        &:not(.has-featured) {
            overflow: initial;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            width: 100%;
            padding-right: 0;
        }
    }
}

.key-visuals__scroll-items {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    width: calc(100% + var(--padding));
    padding-right: 15px;
    display: flex;
    gap: 15px;

    @media (min-width: $md) {
        overflow: initial;
        padding-right: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        width: 100%;
    }
}

.key-visuals-item {
    border-radius: 1px;
    border: 1px solid var(--stroke-light-grey-color);

    padding: 20px;

    &.is-featured {
        display: flex;
        width: 100%;

        border: none;
        padding: 0;

        &.desktop {
            display: none;
        }

        .key-visuals-item__img {
            border-radius: 1px;
            margin-bottom: 0;

            height: 400px;
            width: 100%;
        }

        @media (min-width: $md) {
            grid-column: 1 / 3;

            &.desktop {
                display: flex;
            }

            &.mobile {
                display: none;
            }

            .key-visuals-item__img {
                border-radius: 1px;
                height: 451px;
            }
        }

        @media (min-width: $lg) {
            .key-visuals-item__img {
                height: 532px;
            }
        }
    }

    &.shadow {
        .key-visuals-item__img {
            background-color: #133b5c;

            img {
                height: 118%;

                object-position: left;
                transform-origin: 85% 8%;
                transform: matrix(0.87, -0.5, 0.87, 0.5, 0, 0);
                transition:
                    box-shadow 0.3s ease,
                    transform-origin 0.3s ease;
            }

            @media (min-width: $md) {
                &:hover {
                    img {
                        transform-origin: 83% 8%;
                        box-shadow: 0px 10px 50px rgba(86, 125, 158, 0.6);
                    }
                }
            }
        }
    }

    @media (min-width: $md) {
        &:not(.shadow):hover {
            .key-visuals-item__img img {
                transform: scale(1.1);
            }
        }
    }
}

.key-visuals-item__title {
    font-weight: 500;
    font-size: 16px;

    @media (min-width: $md) {
        font-size: 20px;
    }

    @media (min-width: $lg) {
        font-size: 24px;
    }
}

.key-visuals-item__desc {
    margin-top: 15px;

    font-size: 14px;
    color: var(--text-grey-color);

    @media (min-width: $lg) {
        font-size: 16px;
    }
}

.key-visuals-item__img {
    margin-bottom: 20px;
    width: 216px;
    height: 162px;

    background-color: var(--black-color);
    overflow: hidden;

    img,
    video {
        width: 100%;
        height: 100%;

        display: block;

        object-fit: cover;
        object-position: center;
    }

    img {
        transition: transform .3s ease;
    }

    @media (min-width: $md) {
        width: 100%;
        height: 240px;
    }

    @media (min-width: $lg) {
        margin-bottom: 30px;
        height: 295px;
    }
}
