@use "../common/vars" as *;

.our-work {
    margin: 100px 0;

    @media (min-width: $md) {
        margin: 180px 0;
    }

    @media (min-width: $lg) {
        margin: 200px 0;
    }
}

.our-work__info {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    & > p {
        align-self: flex-end;
        max-width: 266px;

        color: var(--text-grey-color);
        font-size: 12px;
    }

    @media (min-width: $md) {
        min-height: 221px;

        flex-direction: row;
        justify-content: flex-start;
        gap: 30px;

        h2 {
            max-width: 605px;
        }

        & > p {
            max-width: 500px;
            font-size: 16px;
        }
    }

    @media (min-width: $lg) {
        min-height: 242px;

        margin-bottom: 60px;
        gap: 35px;

        h2 {
            max-width: 845px;
        }

        & > p {
            max-width: 694px;
            font-size: 18px;
        }
    }
}

.our-work__items {
    display: grid;
    gap: 20px;

    @media (min-width: $md) {
        display: flex;
        gap: 30px;

        & > * {
            flex: 0 1 calc(33.33% - #{20px});
        }

        &:not(.no-stretch) > * {
            transition: flex-basis 0.3s ease;

            &:hover {
                flex-basis: calc(35% - #{20px});
            }
        }
    }
}
