@use "../common/vars" as *;

.project-objectives {
    margin: 100px 0 90px;

    @media (min-width: $md) {
        margin: 180px 0;
    }

    @media (min-width: $lg) {
        margin: 200px 0;
    }
}

.project-objectives__info {
    margin-bottom: 30px;

    @media (min-width: $md) {
        margin-bottom: 40px;
        text-align: center;
    }

    @media (min-width: $lg) {
        margin-bottom: 60px;
    }
}

ul.project-objectives__items {
    overflow-y: hidden;
    overflow-x: auto;
    width: calc(100% + var(--padding));
    padding: 10px 0;

    display: grid;
    --size: #{288px};
    grid-template-columns: repeat(4, var(--size));
    gap: 15px;

    counter-reset: project-objectives-items;

    @media (min-width: $md) {
        overflow: initial;
        padding: 0;
        gap: 30px;
        --size: 1fr;
    }

    li {
        min-height: 355px;
        padding: 20px;
        border-radius: 1px;

        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        color: var(--text-grey-color);
        font-weight: 500;

        &::before {
            counter-increment: project-objectives-items;
            content: "0" counter(project-objectives-items);

            display: block;

            font-size: 80px;
            line-height: 1.4;
            color: var(--text-light-grey-color);
        }

        &:first-child {
            background-color: var(--accent-color);
            color: var(--white-color);

            &::before {
                color: var(--white-color);
            }
        }

        &:nth-child(2) {
            background-color: var(--fill-grey-color);
        }

        &:nth-child(3) {
            border: 1px solid var(--stroke-light-grey-color);
            --size: #{20px};

            &::after {
                content: "";
                position: absolute;
                left: calc(-1 * var(--size) / 2);
                top: calc(-1 * var(--size) / 2);
                width: calc(100% + var(--size));
                height: calc(100% + var(--size));
                display: block;

                background:
                    url("/img/icons/plus-accent.svg") no-repeat 0 0 / var(--size),
                    url("/img/icons/plus-accent.svg") no-repeat 100% 0 / var(--size),
                    url("/img/icons/plus-accent.svg") no-repeat 0 100% / var(--size),
                    url("/img/icons/plus-accent.svg") no-repeat 100% 100% / var(--size);
            }
        }

        &:nth-child(4) {
            background-color: var(--fill-dark-color);
            color: var(--text-light-grey-color);

            &::before {
                color: var(--text-grey-color);
            }
        }

        @media (min-width: $md) {
            font-size: 20px;

            flex: 0 1 calc(25% - #{90px} / 4);

            &::before {
                font-size: 80px;
            }

            p {
                max-width: 248px;
            }
        }

        @media (min-width: $lg) {
            min-height: 501px;
            font-size: 24px;
            border-radius: 1px;

            &::before {
                font-size: 100px;
            }

            p {
                max-width: 367px;
            }
        }
    }
}
