@use "../common/vars" as *;

.result-business-impact {
    margin: 100px 0;

    .section-subtitle {
        margin-bottom: 40px;
    }

    @media (min-width: $md) {
        margin: 120px 0 180px;
    }

    @media (min-width: $lg) {
        margin: 120px 0 200px;

        .section-subtitle {
            margin-bottom: 60px;
        }
    }
}

.result-business-impact__video {
    overflow: hidden;
    position: relative;
    margin-left: calc(-1 * var(--padding));
    padding: 0 var(--padding);
    width: 100vw;

    & > div {
        width: 100%;
        height: 100%;
    }

    &:not(.is-active) {
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;

            width: 80px;
            height: 80px;

            background: url("/img/icons/play.svg") no-repeat center center;
            background-size: contain;
        }

        video {
            pointer-events: none;
        }
    }

    video {
        width: 100%;
        height: 400px;
        background: var(--black-color);
        border-radius: 1px;
    }

    @media (min-width: $md) {
        overflow: initial;
        margin-top: 40px;
        margin-left: 0;
        width: 100%;
        padding: 0;

        video {
            height: auto;
            background: var(--black-color);
            border-radius: 1px;
        }
    }

    @media (min-width: $lg) {
        margin-top: 60px;
    }
}

.result-business-impact__video-iframe {
    overflow: hidden;
    position: relative;
    margin-left: calc(-1 * var(--padding));
    padding: 0 var(--padding);
    width: 100vw;

    iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: var(--black-color);
        border-radius: 1px;
        border: none;
    }

    @media (min-width: $md) {
        overflow: initial;
        margin-top: 40px;
        margin-left: 0;
        width: 100%;
        padding: 0;

        iframe {
            border-radius: 1px;
        }
    }

    @media (min-width: $lg) {
        margin-top: 60px;
    }
}

.result-business-impact__photo {
    img {
        width: 100%;
        height: 400px;
        background: var(--black-color);
        border-radius: 1px;
        object-fit: cover;
    }

    @media (min-width: $md) {
        margin-top: 40px;

        img {
            height: auto;
            background: var(--black-color);
            border-radius: 1px;
        }
    }

    @media (min-width: $lg) {
        margin-top: 60px;
    }
}

.result-business-impact__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    li {
        margin-bottom: 20px;

        &:first-child {
            padding-right: 30px;
        }

        &:nth-child(2) {
            border-left: 1px solid var(--stroke-light-grey-color);
            padding-left: 30px;
        }

        &:nth-child(3) {
            padding-right: 30px;
        }

        &:nth-child(4) {
            border-left: 1px solid var(--stroke-light-grey-color);
            padding-left: 30px;
        }
    }

    &:not(.numbers) {
        li {
            &:nth-child(3),
            &:nth-child(4) {
                grid-column: 1 / -1;
            }

            &:nth-child(4) {
                border-top: 1px solid var(--stroke-light-grey-color);
                border-left: 0;
                padding-left: 0;
            }
        }
    }

    @media (min-width: $md) {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        li {
            margin-bottom: 0;

            &:not(:last-child) {
                border-right: 1px solid var(--stroke-light-grey-color);
                padding-right: 30px;
            }

            &:nth-child(2),
            &:nth-child(4) {
                padding-left: 0;
                border-left: none;
            }
        }

        &:not(.numbers) {
            li {
                &:nth-child(3),
                &:nth-child(4) {
                    grid-column: auto;
                }

                &:nth-child(4) {
                    border-top: 0;
                }
            }
        }
    }

    @media (min-width: $lg) {
        li {
            font-size: 18px;
        }
    }
}

.result-business-impact__number {
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 38px;
    font-variant-numeric: tabular-nums;

    span {
        color: var(--accent-color);
    }

    @media (min-width: $md) {
        margin-bottom: 30px;

        font-size: 96px;
    }

    @media (min-width: $lg) {
        margin-bottom: 30px;

        font-size: 100px;
    }
}

.result-business-impact__item-text {
    font-weight: 500;
    grid-column: auto;
    padding-top: 20px;

    @media (min-width: $md) {
        padding-top: 30px;
        font-size: 20px;
    }

    @media (min-width: $lg) {
        font-size: 24px;
    }
}
