@use "../common/vars" as *;

.services-provided {
    margin: 100px 0;
    margin-left: calc(-1 * var(--padding));
    width: calc(100% + var(--padding) * 2);
    padding: 40px var(--padding);

    display: flex;
    flex-direction: column;
    gap: 40px;

    background: var(--black-color);
    color: var(--white-color);

    text-align: center;

    @media (min-width: $md) {
        margin: 180px 0;
        padding: 80px 40px;
        width: 100%;

        border-radius: 1px;
    }

    @media (min-width: $lg) {
        margin: 200px 0;
    }
}

.services-provided__info {
    .p1 {
        margin-top: 15px;

        @media (min-width: $md) {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }

        @media (min-width: $lg) {
            max-width: 800px;
        }
    }
}

.services-provided__links {
    display: grid;
    grid-gap: 20px;

    @media (min-width: $md) {
        grid-template-columns: repeat(6, 1fr);
    }

    a {
        padding: 16px 20px;

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 18px;
        font-weight: 500;
        text-align: left;

        background: var(--accent-color);
        border-radius: 1px;
        color: var(--white-color);
        transition:
            background-color 0.3s ease,
            color 0.3s ease;

        svg {
            flex: 0 0 auto;
            width: 24px;
            height: 24px;

            path {
                stroke: var(--white-color);
                transition: stroke 0.3s ease;
            }
        }

        @media (min-width: $md) {
            grid-column: span 2;
            padding: 20px;

            font-size: 20px;

            &:hover,
            &:active {
                background-color: var(--white-color);
                color: var(--black-color);

                svg path {
                    stroke: var(--black-color);
                }
            }

            &:last-child:nth-child(3n + 1) {
                grid-column: 1 / -1;
            }

            &:nth-last-child(2):nth-child(3n + 1),
            &:last-child:nth-child(3n + 2) {
                grid-column: span 3;
            }
        }

        @media (min-width: $lg) {
            padding: 30px;
            border-radius: 1px;

            font-size: 24px;
        }
    }
}
