@use "../common/vars" as *;

.strategic-cgi {
    margin: 100px 0;

    @media (min-width: $md) {
        margin: 180px 0 280px;
    }

    @media (min-width: $lg) {
        margin: 200px 0 300px;
    }
}

.strategic-cgi__main {
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width: $md) {
        margin-bottom: 280px;

        flex-direction: row;
        align-items: center;
        gap: 80px;
    }

    @media (min-width: $lg) {
        margin-bottom: 300px;
        gap: 30px;
    }
}

.strategic-cgi__info {
    flex: 1 1 auto;

    h2 {
        margin-bottom: 30px;
    }

    .p1 {
        color: var(--text-grey-color);
    }

    @media (min-width: $lg) {
        h2 {
            max-width: 800px;
        }

        .p1 {
            max-width: 698px;
        }
    }
}

.strategic-cgi__media {
    flex: 0 0 auto;
    width: 100%;
    aspect-ratio: 0.8625;

    img,
    video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        border-radius: 1px;
    }

    @media (min-width: $md) {
        width: 580px;
        height: 400px;
        aspect-ratio: auto;

        overflow: hidden;
        border-radius: 1px;

        img,
        video {
            border-radius: 0;
        }
    }

    @media (min-width: $lg) {
        width: 845px;
        height: 501px;

        border-radius: 1px;
    }
}

.strategic-cgi__quote {
    padding: 6px 0 12px;

    text-align: center;
    font-size: 22px;

    span {
        color: var(--text-grey-color);
    }

    @media (min-width: $md) {
        padding: 0;

        font-size: 42px;
    }

    @media (min-width: $lg) {
        font-size: 58px;
    }
}
