@use "../common/vars" as *;

.trending {
    background: var(--fill-grey-color);
    padding: 60px 0;
    margin-bottom: 110px;

    @media (min-width: $md) {
        padding: 80px 0;
        margin-bottom: 105px;
    }

    @media (min-width: $lg) {
        padding: 100px 0;
        margin-bottom: 100px;
    }

    .cards--4 {
        @media (max-width: 1269px) {
            grid-template-columns: repeat(4, 1fr);
            margin: 0 -15px;
            padding: 0 15px;

            .card {
                min-width: 290px;
            }
        }
    }

    .case-item {
        .case-item__img {
            height: 160px;

            @media (min-width: $lg) {
                height: 224px;
            }
        }

        &.--featured {
            padding-bottom: 60px;
            margin-bottom: 60px;
            border-bottom: 1px solid var(--stroke-light-grey-color);

            @media (min-width: $lg) {
                padding-bottom: 80px;
                margin-bottom: 80px;
            }

            .case-item__link {
                @media (min-width: $md) {
                    display: grid;
                    grid-template-columns: 58.2% 1fr;
                }
            }

            .case-item__img {
                height: auto;
                border-radius: var(--radius-sm);

                @media (min-width: $md) {
                    border-radius: var(--radius-md);
                }
            }

            .case-item__title {
                font-size: 28px;
                font-weight: 400;

                @media (min-width: $md) {
                    font-size: 42px;
                }

                @media (min-width: $lg) {
                    font-size: 58px;
                }
            }
        }
    }
}
