@import "../common/_vars";

.visuals-slider {
    margin: toRem(100) 0 toRem(86);

    @media (min-width: $md) {
        margin: toRem(180) 0 toRem(106);
    }

    @media (min-width: $lg) {
        margin: toRem(200) 0 toRem(156);
    }
}

.visuals-slider__info {
    margin-bottom: toRem(40);

    display: flex;
    flex-direction: column;
    gap: toRem(15);
    max-width: toRem(710);

    .section-subtitle {
        margin-bottom: 0;
    }

    .p1 {
        color: var(--text-grey-color);
    }

    @media (min-width: $md) {
        h2 {
            margin-bottom: toRem(5);
        }
    }

    @media (min-width: $lg) {
        margin-bottom: toRem(60);

        .p1 {
            font-size: toRem(16);
        }
    }
}

.visuals-slider__items {
    padding: 0 var(--padding);

    @media (min-width: $md) {
        padding: 0;
    }

    .splide__pagination {
        margin-top: toRem(20);
        display: flex;
        gap: toRem(4);
        height: toRem(6);

        li {
            flex: 1 1 auto;
            height: 100%;
        }

        button {
            @include btn;

            width: 100%;
            height: 100%;

            border-radius: toRem(1);
            background-color: var(--stroke-light-grey-color);

            &.is-active {
                min-width: toRem(100);
                background-color: var(--accent-color);
            }
        }

        @media (min-width: $md) {
            li {
                flex: 0 0 auto;
            }

            button {
                width: toRem(60);

                &.is-active {
                    min-width: toRem(143);
                }
            }
        }

        @media (min-width: $lg) {
            margin-top: toRem(30);
        }
    }

    .splide__arrows {
        display: none;

        @media (min-width: $md) {
            position: absolute;
            right: calc(50% - var(--container-small) / 2);
            top: toRem(-40);
            transform: translateY(-100%);
            display: flex;
            justify-content: center;
            gap: toRem(10);
        }

        @media (min-width: $lg) {
            top: toRem(-60);
        }
    }

    .splide__arrow {
        @include btn;
        width: toRem(34);
        height: toRem(34);
        flex: 0 0 auto;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: toRem(2);
        transition: background-color 0.3s ease;

        svg {
            width: toRem(17);
            height: toRem(13);
        }

        &--prev {
            background-color: var(--fill-grey-color);

            &:hover {
                background-color: var(--stroke-light-grey-color);
            }
        }

        &--next {
            background-color: var(--accent-color);

            &:hover {
                background-color: var(--accent-light-color);
            }
        }
    }
}

.visuals-slider-item {
    height: 100%;
    padding: toRem(20);
    border-radius: toRem(4);
    background-color: var(--fill-grey-color);

    picture {
        margin-bottom: toRem(20);

        display: block;
        height: toRem(200);
        overflow: hidden;
        border-radius: toRem(4);
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        
        object-fit: cover;

        transition: transform .5s ease;
    }

    @media (min-width: $md) {
        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }

    @media (min-width: $lg) {
        picture {
            height: toRem(230);
        }
    }
}

.visuals-slider-item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: toRem(8);

    h3 {
        font-size: toRem(18);
        font-weight: 500;
        text-transform: capitalize;
    }

    p {
        font-size: toRem(14);
        color: var(--text-grey-color);
    }

    @media (min-width: $md) {
        h3 {
            font-size: toRem(20);
        }
    }

    @media (min-width: $lg) {
        h3 {
            font-size: toRem(24);
        }

        p {
            font-size: toRem(16);
        }
    }
}
