@import "../common/_vars";
@import url("../blocks/cards.scss");
@import url("../blocks/hero-blog.scss");
@import url("../blocks/share.scss");
@import url("../blocks/toc.scss");

.article-page {
    &-inner {
        margin-top: 80px;

        @media (min-width: $md) {
            margin-top: 150px;
        }
    }
    &__columns {
        display: flex;
        flex-direction: column-reverse;

        @media (min-width: $md) {
            display: grid;
        }

        &--3 {
            gap: 40px;

            @media (min-width: $md) {
                grid-template-columns: 1fr 510px 1fr;
                gap: 0 75px;
            }
            @media (min-width: $lg) {
                grid-template-columns: 1fr 790px 1fr;
                gap: 0 100px;
            }
        }
    }
    &__aside {
        &--left {
            .article-page__sticky {
                padding: 30px 25px;
                background-color: var(--fill-grey-color);
            }
        }
    }
    &__sticky {
        position: sticky;
        top: 120px;

        @media (min-width: $lg) {
            top: 140px;
        }
    }
    &__title {
        font-size: 32px;
        font-weight: 500;
        margin-top: 0;

        @media (min-width: $md) {
            font-size: 48px;
        }
    }
    &__content {
        * + *,
        * ~ * {
            margin-top: 15px;

            @media (min-width: $lg) {
                margin-top: 30px;
            }

            ~ h2 {
                margin-top: 80px;

                @media (min-width: $lg) {
                    margin-top: 100px;
                }
            }

            ~ h3,
            ~ h4 {
                margin-top: 40px;

                @media (min-width: $lg) {
                    margin-top: 60px;
                }
            }
        }
        h2 {
            font-weight: 700;
        }
        h3,
        h4 {
            font-weight: 600;
        }
        h2 {
            font-size: 32px;
        }
        h3 {
            font-size: 24px;
        }
        h4 {
            font-size: 20px;
        }
        ul {
            margin-left: 25px;
            margin-bottom: 0;
            padding: 0;

            li {
                color: var(--text-grey-color);

                &::marker {
                    color: var(--accent-color);
                }

                > :is(strong, span) {
                    font-weight: 500;
                    color: var(--accent-color);
                }

                + li {
                    margin-top: 15px;
                }
            }
        }
        ol {
            list-style: none;
            padding: 0;
            margin-left: 0;
            counter-reset: n;

            li {
                > :is(strong, span) {
                    position: relative;
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    font-weight: 500;

                    margin-bottom: 15px;
                    padding-left: calc(30px + 15px);

                    &::before {
                        counter-increment: n;
                        content: counter(n);
                        width: 30px;
                        height: 100%;

                        position: absolute;
                        left: 0;
                        top: 0;

                        font-size: 14px;
                        color: var(--white-color);
                        background-color: var(--accent-color);

                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
        a {
            color: var(--accent-color);
            // padding-bottom: 0;
            // background-image: linear-gradient(
            //     transparent calc(100% - 1px),
            //     var(--black-color) 1px
            // );
            // background-repeat: no-repeat;
            // background-size: 100% 100%;
            // background-position: center;
            // transition: background-size 0.5s ease;

            // @media (hover: hover) {
            //     &:hover {
            //         background-size: 0% 100%;
            //     }
            // }
        }
        video {
            width: 100%;
            max-height: 400px;
            margin: 0 auto;
        }
        em {
            &.mark {
                padding: 3px;

                a {
                    color: var(--purple-color);
                    background-image: linear-gradient(
                        transparent calc(100% - 1px),
                        var(--purple-color) 1px
                    );
                }
            }
        }
        figure {
            &.wp-block-table {
                width: 100%;
                text-align: center;
                scroll-snap-type: x mandatory;
                scrollbar-width: none;
                border: 1px solid var(--stroke-light-grey-color);
                border-radius: 1px;

                table {
                    table-layout: auto;
                }

                thead {
                    border: none;
                }

                tbody {
                    tr {
                        &:first-child {
                            td {
                                color: var(--white-color);
                                background-color: var(--accent-color);

                                &::before,
                                &::after {
                                    background-color: rgba(255, 255, 255, 0.2);
                                }
                            }
                        }

                        &:not(:first-child) {
                            @media (hover: hover) {
                                &:hover {
                                    background-color: var(--fill-grey-color);
                                }
                            }
                        }
                    }
                }

                th,
                td {
                    position: relative;
                    z-index: 0;

                    border: none;
                    padding: 20px;

                    word-break: normal;

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: var(--stroke-light-grey-color);
                        z-index: 2;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 1px;
                        height: 100%;
                        background-color: var(--stroke-light-grey-color);
                        z-index: 2;
                    }

                    &:first-child {
                        position: sticky;
                        left: 0;
                        z-index: 1;
                    }

                    &:last-child {
                        &::after {
                            content: none;
                        }
                    }
                }

                th {
                    font-size: 12px;
                    background-color: var(--fill-grey-color);
                    color: var(--text-grey-color);
                }

                td {
                    font-size: 14px;

                    &:first-child {
                        font-weight: 500;
                        color: var(--text-grey-color);
                        background-color: var(--white-color);
                    }
                }

                tr {
                    &:last-child {
                        td {
                            &::before {
                                content: none;
                            }
                        }
                    }
                }
            }

            &.wp-block-image,
            &.wp-block-video {
                margin: 80px 0;

                @media (min-width: $lg) {
                    margin: 100px 0;
                }
            }
        }
        blockquote {
            margin: 80px 0;

            @media (min-width: $lg) {
                margin: 100px 0;
            }
        }
        .big-text {
            font-size: 20px;
            font-weight: 500;

            @media (min-width: $lg) {
                font-size: 24px;
            }
        }
        .text-muted {
            font-size: 14px;
            font-weight: 500;

            @media (min-width: $lg) {
                font-size: inherit;
            }
        }
    }
    &__banner {
        position: relative;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        aspect-ratio: 3 / 4;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;
        border-radius: 1px;

        &-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-content {
            position: relative;
            padding: 20px;
        }

        &-title {
            color: var(--white-color);
            margin-bottom: 8px;

            @media (min-width: $md) {
                font-size: 20px;
            }

            @media (min-width: $lg) {
                font-size: 24px;
                margin-bottom: 10px;
            }
        }

        &-description {
            font-size: 14px;
            color: var(--white-color);
            margin-bottom: 16px;

            @media (min-width: $lg) {
                font-size: 16px;
                margin-bottom: 20px;
            }
        }

        &-button {
            min-width: 100%;
        }
    }
    &__cta {
        max-width: 345px;
        min-height: 500px;
        position: relative;
        padding: 20px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1px;
        overflow: hidden;
        display: flex;
        align-items: end;

        @media (min-width: $md) {
            max-width: none;
            min-height: 285px;
            padding: 40px 30px;
            border-radius: 1px;
        }

        @media (min-width: $lg) {
            min-height: 345px;
            padding: 60px 40px;
            margin-top: 80px;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 0.8) 0%,
                rgba(0, 0, 0, 0.4) 50%,
                transparent 100%
            );
            z-index: 1;
        }

        &-img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-content {
            z-index: 2;

            @media (min-width: $md) {
                max-width: 380px;
            }
        }

        &-title {
            font-size: 18px;
            font-weight: 500;
            color: var(--white-color);
            margin-bottom: 15px;

            @media (min-width: $md) {
                font-size: 24px;
            }

            @media (min-width: $lg) {
                font-size: 32px;
            }
        }

        &-text {
            font-size: 14px;
            color: var(--white-color);
            margin-bottom: 15px;

            @media (min-width: $lg) {
                font-weight: 500;
            }
        }

        &-button {
            min-width: 100%;

            @media (min-width: $md) {
                min-width: max-content;
            }
        }
    }
    &__faq {
        margin: 60px 0;
        padding: 0;

        h2 {
            text-align: left;
        }

        .container {
            padding: 0;
        }
    }
    &__author {
        margin-top: 80px;
        width: 100%;
        background-color: var(--fill-grey-color);
        border-radius: 1px;
        padding: 30px;

        @media (max-width: 1260px) {
            padding: 20px 15px;
        }

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        &-profile {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        &-avatar {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            object-fit: cover;
        }

        &-name {
            font-size: 18px;
            font-weight: 500;

            @media (min-width: $md) {
                font-size: 24px;
            }
        }

        &-role {
            font-size: 14px;
            color: var(--text-grey-color);
            margin-top: 5px;

            @media (min-width: $md) {
                font-size: 16px;
            }

            @media (min-width: $lg) {
                font-size: 18px;
            }
        }

        &-socials {
            a {
                background-color: var(--black-color);
            }
        }

        &-body {
            margin-bottom: 20px;
        }

        &-text {
            font-size: 14px;

            @media (min-width: $md) {
                font-size: 16px;
            }

            @media (min-width: $lg) {
                font-size: 18px;
            }
        }

        &-footer {
            display: flex;
        }

        &-profile-link {
            color: var(--accent-color);
            font-size: 14px;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 4px;

            @media (hover: hover) {
                &:hover {
                    color: var(--accent-dark-color);
                }
            }
        }
    }
}

.section-related {
    padding: 100px 0;

    @media (min-width: $md) {
        padding: 180px 0;
    }

    @media (min-width: $lg) {
        padding: 200px 0;
    }

    .section__title {
        margin-bottom: 35px;
    }

    @media (max-width: 680px) {
        .post-card__date {
            .dot,
            .post-card__date-link {
                display: none;
            }
        }
    }
}

.article-page__form {
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 60px 40px 47px;
    min-height: 302px;
    position: relative;

    color: var(--white-color);

    img {
        position: absolute;
        left: 0;
        top: 0;

        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

        margin: 0;
    }

    a {
        border: none;
        font-weight: 500;
    }

    &-main {
        position: relative;
        z-index: 2;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &.last {
        margin-top: 32px;
        margin-bottom: 0;

        @media all and (min-width: $sm) {
            margin-top: 40px;
        }
    }

    @media all and (min-width: $sm) {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    &-title {
        margin-bottom: 8px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;

        @media all and (min-width: $sm) {
            margin-bottom: 18px;

            font-size: 24px;
            line-height: 1.333;
            text-align: center;
        }
    }

    &-desc {
        margin-bottom: 35px;

        font-weight: 400;
        font-size: 14px;
        line-height: 1.42587;

        @media all and (min-width: $sm) {
            margin-bottom: 24px;

            font-size: 16px;
            line-height: 1.5;
            text-align: center;
        }
    }
}
